
body{
	background-color: #2f2f3A;
	font-family: Arial, sans-serif;
	color: #fff;
}

.main-ui-theme {
	background: #1f1f2A;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

button {
	margin-top: 5px;
}

footer {
	width: 100vw;
	position: absolute;
	background-color: #3f3f3A;
	text-align: center;
	padding: 2px 0px;
	bottom: 0px;
	left: 0px;
}

header {

}

#serverSelect {
	margin-top: 5px;
}


#newImg{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
}

#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#container input {
	margin: 5px;
	border: none;
}

input#emojiInput { 
	width: calc(100% - 10px);
	display: block;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background: #1f1f2A;
	color: #fff;
}
