.blink {
  	transition: opacity 0.5s ease-in;
  	opacity: 0;
  	position: absolute;
  	user-select: none;
  	/*display: none;*/
}

.blink[show=true] {
  	opacity: 1;
  	/*display: block;*/
}

body{
	background-color: #2f2f3A;
	font-family: Arial, sans-serif;
	color: #dededa;
	margin: 0px;
}

.main-ui-theme {
	background: #1f1f2A;
	color: #dededa;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

button {
	margin-top: 5px;
}

button:hover {
	background: #10122A;
}

footer {
	width: calc(100vw - 10px);
	/*position: absolute;*/
	background-color: #3f3f3A;
	text-align: center;
	padding: 2px 0px;
	/*bottom: 0px;*/
	/*left: 0px;*/
}

.emoji-item {
	width: 45px;
	height: 45px;
	margin: 2px;
	border: none;
	padding: 5px;
	border-radius: 4px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.emoji-item img {
	max-height: 45px;
	max-width: 45px;
}

.emoji-item:hover {
	background: #1f1f2A;
}

#app {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10px);
	padding: 5px;
}

#server-select {
	margin-top: 5px;
}


#newImg{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
}

#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	flex-grow: 1;
	overflow-y: scroll;
	align-content: flex-start;
}

/*#container input {
	margin: 5px;
	border: none;
}*/

#emoji-output { 
	width: calc(100% - 10px);
	display: block;
}

#copied-message {
	background: #1f1f2A;
	color: #dededa;
	border-radius: 10px;
	border: none;
	padding: 5px;
}