body{
	background-color: #2f2f3A;
	font-family: Arial, sans-serif;
	color: #dededa;
}

.main-ui-theme {
	background: #1f1f2A;
	color: #dededa;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

button {
	margin-top: 5px;
}

button:hover {
	background: #10122A;
}

footer {
	width: 100vw;
	position: absolute;
	background-color: #3f3f3A;
	text-align: center;
	padding: 2px 0px;
	bottom: 0px;
	left: 0px;
}

.emoji-item {
	width: 45px;
	height: 45px;
	margin: 2px;
	border: none;
	padding: 5px;
	border-radius: 4px;
}

.emoji-item:hover {
	background: #1f1f2A;
}

#server-select {
	margin-top: 5px;
}


#newImg{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
}

#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
}

/*#container input {
	margin: 5px;
	border: none;
}*/

#emoji-output { 
	width: calc(100% - 10px);
	display: block;
}